body {
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100%;
}
html, body {
    height: 100%;
    background-color: #1985D0;
}
.wrap {
	width: 100%;
	overflow: hidden;
}
span.spot {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	z-index: 100;
	&.spot-red {
		background-color: red;
	}
}
.mainLayout {
	position: relative;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	overflow-y: auto;
	> .container {
		margin: 0;
		padding: 0;
	}
}
.list-wrapper {
	ul.list-wrapper-list {
		padding-left: 0;
		list-style-type: none;
		li.list-wrapper-item {
			padding-left: 15px;
			height: 80px;
			display: block;
			border-bottom: 1px solid #DADADA;
			position: relative;
			span.title {
				float: left;
				display: inline-block;
				line-height: 80px;
				font-size: 18px;
				margin-left: 15px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 43%;
			}
			button {
				position: absolute;
				top: 20px;
				right: 15px;
				background-color: #00D7FF;
				border: 0;
				outline: none;
				width: 80px;
				height: 40px;
				color: #fff;
				border-radius: 10px;
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				z-index: 99;
			}
		}
		margin-bottom: 0px;
	}
}
span.logo {
	border-radius: 10px;
	display: inline-block;
	margin-top: 10px;
	height: 60px;
	width: 60px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;	
}