body {
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100%;
}
html, body {
	height: 100%;
	background-color: #1985D0;
}
.wrap {
	width: 100%;
	overflow: hidden;
}
span.spot {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	z-index: 100;
	&.spot-red {
		background-color: red;
	}
}
.mainLayout {
	position: relative;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	overflow-y: auto;
	> .container {
		margin: 0;
		padding: 0;
	}
}
.list-wrapper {
	ul.list-wrapper-list {
		padding-left: 0;
		list-style-type: none;
		li.list-wrapper-item {
			display: table;
			width: 100%;
			min-height: 60px;
			border-bottom:1px solid #e0e0e0;
			div {
				display: table-cell;
				vertical-align: middle;
			}
			div.logo, div.button {
				width: 80px;
				text-align: center;
			}
			div.logo{
				background-size:50px;
				background-repeat:no-repeat;
				background-position:center;
				//border-radius:50%;
			}
			div.button {
				button {
					height: 40px;
					width: 80px;
					color: #fff;
					border-radius: 10px;
					font-size: 13px;
					border: none;
					outline: none;
					&.apply {
						background-color: #00D7FF;
					}
					&.cancel {
						background-color: #f45056;
					}
					&.quit {
						background-color: #c93636;
					}
					&.admin {
						background-color: #29b709;
					}
				}
			}
		}
		margin-bottom: 0px;
	}
}