.header{
	margin-bottom:5px;
}
.btn {
	&.on {
		display: block;
	}
	&.off {
		display: none;
	}
}
#btn_auth_code{
	margin-top:5px;
}
#msg_tips{
	display:none;
	&.on{
		display: block;
	}
}

.header-inner-wrapper{
	height:60px;
	width:100%;
	background-color:#f5f5f5;
	background-image:url(../images/logo_120x120.png);
	background-position:10px center;
	background-repeat:no-repeat;
	background-size:40px;
	text-align:center;
	line-height:60px;
	span{
		margin: 0 auto;
		font-size: 18px;
		font-weight: bold;
	}
	&.shangda{
		background-image:url(../images/shangdaLOGO.jpg);
	}
	&.shangwai{
		background-image:url(../images/shangwai_stl_logo.png);
	}
	&.huashi{
		background-image:url('../images/huashida_03.png');
	}
}


.form-group{
	&.off {
		display: none;
	}
}
.form-control{
	&.off{
		display: none;
	}
}