body {
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100%;
}
html, body {
    height: 100%;
    background-color: #1985D0;
}
.wrap {
	width: 100%;
	overflow: hidden;
}
nav.header {
	div.container {
		height: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
		> div {
			display: block;
			height: 50px;
		}
		border-bottom: 1px solid #CCC;
		box-shadow: outset 0 5px 2px;
	}
	width: 100%;
	height: 50px;
	background-color: #fff;
	div.chooseSchoolPart {
		position: relative;
		float: left;
		width: 20%;
		span.chooseSchool {
			display: block;
			margin: 15px 0px 0px 10px;
			color: #00D0F5;
			font-size: 15px;
		}
	}
	div.showSchoolPart {
		float: left;
		width: 25%;
		margin-left: 10px;
		span.nowSchool {
			margin-top: 17px;
			margin-bottom: 0px;
			display: block;
			color: #CCC;
			font-size: 12px;
		}
	}
	div.userActionPart {
		width: 30%;
		float: right;
		color: #808080;
		span {
			margin-top: 15px;
			display: inline-block;
			width: 40%;
			&.userName {
				width: 45%;
				padding-right: 5px;
				border-right: 1px solid #CCCCCC;
			}
			&.logout {
				padding-left: 5px;
			}
		}
	}
}
.userPanel {
	width: 75%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 8;
	color: #fff;
	display: none;
	.userContainer {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		
	}
}
.mainLayout {
	position: relative;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	overflow-y: scroll;
	> .container {
		margin: 0;
		padding: 0;
		.eventCard {
			width: 100%;
			height: 220px;
			background-color: transparent;
			background-size: auto 130%;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			> .opacityLayout {
				width: 100%;
				height: 60px;
				background-color: #fff;
				position: absolute;
				bottom: 0px;
				left: 0px;
				opacity: 0.7;
				z-index: 5;
			}
			> .eventInfo {
				width: 100%;
				height: 60px;
				background-color: transparent;
				position: absolute;
				bottom: 0px;
				left: 0px;
				z-index: 6;
				color: #000;
				div.eventName {
					padding-left: 20%;
					position: absolute;
					width: 80%;
					height: 60%;
					top: 0px;
					left: 0px;
					font-size: 16px;
					overflow: hidden;
					text-align: center;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				div.eventProvider {
					padding-left: 20%;
					position: absolute;
					width: 80%;
					height: 40%;
					top: 60%;
					left: 0;
					color: #808080;
					overflow: hidden;
					text-align: center;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				div.likeit {
					position: absolute;
					right: 0px;
					top: 0px;
					width: 20%;
					height: 100%;
					span {
						display: block;
						height: 100%;
						&.love {
							position: absolute;
							top: 0px;
							left: 0px;
							width: 50%;
						}
						&.likenum {
							position: absolute;
							top: 0px;
							right: 0px;
							width: 50%;
							line-height: 60px;
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}